<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <style type="text/css">
        <!--@import url(https://www.econometrica.cn/style.css);-->
    </style>
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <title>登陆页</title>
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript">
    function myurl(fname){
        window.location.href='/usr/protected/'+fname+'?key='+JSON.parse(localStorage.getItem("key"))+'&usr='+JSON.parse(localStorage.getItem("usr"));
    }
</script>
</head>
<body>
<div class="main-content" style="text-align:center">
    <a href="javascript:myurl('diary.html')">aaaaaa</a>
</div>

</body>


